body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #DAD7D9;
}
#nav-bar{
	font-size: 16px;
}

.menu-buttons{
	color: #3D3739;
}

#page-heading{
	margin-top: 80px;
	margin-bottom: 5px;
	padding:0px;
	font-family: 'Bree Serif', serif;
	font-size: 58px;
	color: #3D3739;
}

.tag-line{
	font-family: 'Righteous', cursive;
	font-size: 28px;
	margin: 20px 0 20px 0;
}

#image{
	justify-content: center;
	border-radius: 50px;
	transition: 1s;
}
#image:hover {
	transform: scale(0.9);
}

#img-caption{
	padding: 10px 20px;
	font-size: 28px;
	font-family: 'Courgette', cursive;
}

#tribute-info{
	text-indent: 75px;
	text-align: justify;	
	font-family: 'Zilla Slab', serif;
	font-size: 20px;

}

